In [4]:
# Input - Multiple CSV files (kaggle submission format)
# OUTPUT - Mode of all the predictions

In [11]:
import pandas as pd

In [39]:
file1 = pd.read_csv(
    '/home/venom/repo/Stylumia-Internship-Kaggle/ensemble_top.csv')
file2 = pd.read_csv(
    '/home/venom/repo/Stylumia-Internship-Kaggle/Scripted/resnet18.csv')
file3 = pd.read_csv(
    "Scripted/efficientnet_lite0.csv")
file4 = pd.read_csv(
    "/home/venom/repo/Stylumia-Internship-Kaggle/Scripted/mobilenetv3_large_100.csv")
file5 = pd.read_csv(
    "/home/venom/repo/Stylumia-Internship-Kaggle/Scripted/efficientnet_b4.csv")

file6 = pd.read_csv(
    "/home/venom/repo/Stylumia-Internship-Kaggle/Scripted/mobilenetv2_100.csv")
file7 = pd.read_csv(
    "/home/venom/repo/Stylumia-Internship-Kaggle/Scripted/efficientnet_lite0.csv")

In [40]:
# Columns are file_name,label. First sort by file_name then find mode of label
file1 = file1.sort_values(by=['file_name'])
file2 = file2.sort_values(by=['file_name'])
file3 = file3.sort_values(by=['file_name'])
file4 = file4.sort_values(by=['file_name'])
file5 = file5.sort_values(by=['file_name'])
file6 = file6.sort_values(by=['file_name'])
file7 = file7.sort_values(by=['file_name'])

In [41]:
# drop the row index
file1 = file1.reset_index(drop=True)
file2 = file2.reset_index(drop=True)
file3 = file3.reset_index(drop=True)
file4 = file4.reset_index(drop=True)
file5 = file5.reset_index(drop=True)
file6 = file6.reset_index(drop=True)
file7 = file7.reset_index(drop=True)

In [42]:
# Put all the file labels in one df
df = pd.DataFrame()
df['file_name'] = file1['file_name']
df['label1'] = file1['label']
df['label2'] = file2['label']
df['label3'] = file3['label']
df['label4'] = file4['label']
df['label5'] = file5['label']
df['label6'] = file6['label']
df['label7'] = file7['label']

In [43]:
# Find mode of all the labels, na if there is a tie
df['mode'] = df[['label1', 'label2', 'label3', 'label4', 'label5', 'label6', 'label7']].mode(axis=1)[0]

In [44]:
df

,file_name,label1,label2,label3,label4,label5,label6,label7,mode
0,Image_test_00001.jpg,2,2,2,2,2,2,2,2.0
1,Image_test_00002.jpg,2,2,2,2,2,2,2,2.0
2,Image_test_00003.jpg,2,2,2,0,1,1,2,2.0
3,Image_test_00004.jpg,1,1,1,1,1,1,1,1.0
4,Image_test_00005.jpg,2,2,2,2,2,2,2,2.0
...,...,...,...,...,...,...,...,...,...
5746,Image_test_05747.jpg,0,0,0,0,0,0,0,0.0
5747,Image_test_05748.jpg,1,1,0,2,1,0,0,0.0
5748,Image_test_05749.jpg,2,2,2,2,2,2,2,2.0
5749,Image_test_05750.jpg,1,1,1,1,1,1,1,1.0
5750,Image_test_05751.jpg,1,1,1,0,1,1,1,1.0

In [45]:
# Change mode to int
df['mode'] = df['mode'].astype(int)

In [46]:
# sum of matching values in label1 and mode
sum(df['label1'] == df['mode'])

5194

In [36]:
# Drop all the other columns
df = df.drop(['label1', 'label2', 'label3', 'label4' ,'label5', 'label6', 'label7'], axis=1)

In [37]:
# Save the file, in the same format as the kaggle submission, with column names as file_name,label
df.to_csv('/home/venom/repo/Stylumia-Internship-Kaggle/ensemble_top_new_final.csv', index=False)